@import "partials/cols";
@import "partials/variables";

* {
    margin:0;
    padding:0;
}
p, li, a {
    font-family:$contentfont;
    font-size:20px;
    font-weight:400;
}
a {
    text-decoration:none;
    color:black;
}
h1, h2, h3, button {
    font-family:$headlinefont;
}
h1 {
    font-size:62px;
}
h2 {
    font-size:44px;
}
h3 {
    font-size:32px;
}
//to get the offset background for certain headlines
//the headline gets wrapped in two span elements
//the wrap is red and has an offset on top and to the left while
//the text wrap offsets the text back to its original place
.span__wrap {
    background:$red;
    position:relative;
    top:5px;
    left:20px;
    &__text {
        background:transparent;
        position:relative;
        top:-5px;
        left:-20px;
    }
    &--tablet {
        background:transparent!important;
    }
}
.btn {
    font-size:18px;
    background:white;
    border:3px solid black;
    cursor:pointer;
    vertical-align:top;
    position:relative;
    &:active {
        top:3px;
    }
    a, p {
        font-weight:700;
        display:block;
        padding:10px 20px 7px 20px;
        font-family:$headlinefont;
    }
}
.clearfix::after {
    content:"";
    clear:both;
    display:table;
}
.page__wrap {
    width:1280px;
    margin:0 auto;
}
.mainelement {
    padding:50px 50px;
}
.root {
    z-index:1;
}
.menu {
    position:relative;
    &--open {
        display:block;
    }
    position:fixed;
    height:100%;
    padding:50px 100px;
    background:white;
    z-index:2;
    right:0px;
    box-shadow:0px 0px 20px #ccc;
    display:none;
    overflow:auto;
    &__icon {
        cursor:pointer;
        width:30px;
        position:absolute;
        top:20px;
        left:20px;
    }
    ul {
        list-style-type:none;
        text-align:center;
        li {
            a {
                font-family:$headlinefont;
                font-size:42px;
            }
            padding-bottom:30px;
        }
    }
}
.header {
    position:relative;
    &__logo {
        vertical-align:top;
        height:50px;
    }
    &__rightwrap {
        position:absolute;
        right:50px;
        top:50px;
    }
    .btn--cta {
        display:inline-block;
    }
    &__menuicon {
        display:inline-block;
        margin-top:10px;
        margin-left:20px;
        vertical-align:top;
        height:25px;
        cursor:pointer;
    }
}
.hero {
    &__portrait, &__text {
        display:inline-block;
    }
    &__portrait {
        img {
            float:right;
        }
    }
    &__text {
        padding:50px 0px 0px 20px;
        vertical-align:top;
        h1 {
            margin-bottom:20px;
        }
    }
}
.projects {
    a {
        border-bottom:3px solid $red;
    }
    &__headline {
        text-align:center;
        margin-bottom:30px;
    }
    &__article {
        margin:0px auto 30px auto;
        &__text {
            display:inline-block;
            vertical-align:top;
            padding:0px 20px;
            a {
                font-weight:700;
            }
            &--right {
                text-align:right;
            }
            &--mobile {
                display:none;
            }
            * {
                margin-bottom:20px;
            }
        }
        &__image {
            display:inline-block;
            padding:0px 30px;
            img {
                width:100%;
            }
        }
        &__icon {
            height:40px;
            display:inline-block;
            vertical-align:bottom;
            margin:0px 10px 0px 0px;
            position:relative;
            top:10px;
        }
    }
}
.about {
    margin-bottom:200px;
    &__text, &__portrait {
        display:inline-block;
        vertical-align:top;
        text-align:right;
    }
    &__portrait {
        img {
            float:left;
            margin-left:30px;
        }
    }
    &__icon {
        height:40px;
        display:inline-block;
        margin-right:20px;
        position:relative;
        top:5px;
    }
    h2 {
        display:inline-block;
    }
    h2, p {
        margin-bottom:20px;
    }
}
.cv {
    &__headline {
        margin-bottom:20px;
    }
    &__list {
        display:inline-block;
        vertical-align:top;
        padding-right:20px;
        ul {
            list-style-type:none;
            li {
                padding-bottom:30px;
                p {
                    padding-bottom:5px;
                }
            }
        }
    }
}
.contact {
    h2 {
        padding:0px 0px 20px 20px;
    }
    input, textarea {
        width:100%;
        margin-bottom:30px;
        max-width:100%;
        padding:10px;
        font-family:$contentfont;
        font-size:20px;
        border:3px solid black;
        box-sizing: border-box;
    }
    textarea {
        min-height:300px;
    }
    label {
        p {
            font-family:$headlinefont;
        }
    }
    &__error {
        color:$red;
        font-weight:700;
        position:absolute;
        margin-top:-30px;
    }
    &__response {
        margin-bottom:100px;
        h2 {
            padding-left:0px;
        }
    }
}
.nomatch {
    text-align:center;
}
.footer {
    background:$lightblack;
    color:white;
    position:relative;
    a {
        color:white;
        &:hover {
            text-decoration:underline;
        }
    }
    &__list {
        display:inline-block;
        vertical-align:top;
    }
    ul {
        list-style-type: none;
        li {
            padding:10px 0px;
        }
    }
    &__logo {
        width:50px;
        position:absolute;
        right:50px;
        bottom:50px;
    }
}
@import "partials/media";