[class^=col] {
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.33%;
}

.col-8 {
  width: 66.66%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 24.99%;
}

.col-2 {
  width: 16.66%;
}

* {
  margin: 0;
  padding: 0;
}

p, li, a {
  font-family: "Lato", Helvetica, sans-serif;
  font-family: 16px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

h1, h2, h3, button {
  font-family: "Josefin Sans", Arial, serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

span {
  background: #E83A3A;
  padding: 10px;
  position: relative;
}

button {
  font-size: 18px;
  background: white;
  border: 3px solid black;
  padding: 10px 20px 7px 20px;
  vertical-align: top;
  text-align: right;
}
button--cta {
  border-radius: none;
}

.page__wrap {
  width: 1280px;
  margin: 0 auto;
}

.mainelement {
  padding: 50px 50px;
}

.root {
  z-index: 1;
}

.menu {
  position: fixed;
  height: 100%;
  padding: 50px 100px;
  width: auto;
  background: white;
  z-index: 2;
  right: -100%;
  box-shadow: 0px 0px 20px #ccc;
}
.menu ul {
  list-style-type: none;
  text-align: center;
}
.menu ul li {
  font-family: "Josefin Sans", Arial, serif;
  padding-bottom: 20px;
  font-size: 24px;
}

.header {
  position: relative;
}
.header__logo {
  vertical-align: top;
  height: 50px;
}
.header__rightwrap {
  position: absolute;
  right: 50px;
  top: 50px;
}
.header button {
  display: inline-block;
}
.header__menuicon {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  vertical-align: top;
  height: 25px;
  cursor: pointer;
}

.hero__portrait, .hero__text {
  display: inline-block;
}
.hero__portrait img {
  float: right;
}
.hero__text {
  padding: 50px 0px 0px 20px;
  vertical-align: top;
}
.hero__text h1 {
  margin-bottom: 20px;
}

.projects a {
  border-bottom: 3px solid #E83A3A;
}
.projects__headline {
  text-align: center;
  margin-bottom: 30px;
}
.projects__article {
  margin: 0px auto 30px auto;
}
.projects__article__text {
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px;
}
.projects__article__text--right {
  text-align: right;
}
.projects__article__text * {
  margin-bottom: 20px;
}
.projects__article__image {
  display: inline-block;
  padding: 0px 30px;
}
.projects__article__image img {
  width: 100%;
}

.footer {
  background: #191919;
  color: white;
}
.footer__list {
  display: inline-block;
  vertical-align: top;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  padding: 10px 0px;
}

@media only screen and (max-width: 1280px) {
  [class^=col] {
    box-sizing: border-box;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 24.99%;
  }

  .col-lg-2 {
    width: 16.66%;
  }
}
@media only screen and (max-width: 992px) {
  [class^=col] {
    box-sizing: border-box;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 24.99%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 26px;
  }

  .projects__article__text * {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 768px) {
  [class^=col] {
    box-sizing: border-box;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-3 {
    width: 24.99%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .mainelement {
    padding: 50px 25px;
  }

  p, li, a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  [class^=col] {
    box-sizing: border-box;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-3 {
    width: 24.99%;
  }

  .col-xs-2 {
    width: 16.66%;
  }
}

/*# sourceMappingURL=index.css.map */
