@import "partials/cols";
@import "partials/variables";

* {
    margin:0;
    padding:0;
}
p, li, a {
    font-family:$contentfont;
    font-size:20px;
}
a {
    text-decoration:none;
    font-weight:700;
    color:black;
}
h1, h2, h3, button {
    font-family:$headlinefont;
}
h1 {
    font-size:62px;
}
h2 {
    font-size:44px;
}
h3 {
    font-size:32px;
}
.span__wrap {
    background:$red;
    position:relative;
    top:5px;
    left:20px;
    &__text {
        background:transparent;
        position:relative;
        top:-5px;
        left:-20px;
    }
}
.btn {
    font-size:18px;
    background:white;
    border:3px solid black;
    padding:10px 20px 7px 20px;
    vertical-align:top;
    text-align:right;
    &--cta {
        border-radius:none;
    }
}
.clearfix::after {
    content:"";
    clear:both;
    display:table;
}
.page__wrap {
    width:1280px;
    margin:0 auto;
}
.mainelement {
    padding:50px 50px;
}
.root {
    z-index:1;
}
.menu {
    position:fixed;
    height:100%;
    padding:50px 100px;
    width:auto;
    background:white;
    z-index:2;
    right:-100%;
    box-shadow:0px 0px 20px #ccc;
    ul {
        list-style-type:none;
        text-align:center;
        li {
            font-family:$headlinefont;
            padding-bottom:20px;
            font-size:24px;
        }
    }
}
.header {
    position:relative;
    &__logo {
        vertical-align:top;
        height:50px;
    }
    &__rightwrap {
        position:absolute;
        right:50px;
        top:50px;
    }
    .btn--cta {
        display:inline-block;
    }
    &__menuicon {
        display:inline-block;
        margin-top:10px;
        margin-left:20px;
        vertical-align:top;
        height:25px;
        cursor:pointer;
    }
}
.hero {
    &__portrait, &__text {
        display:inline-block;
    }
    &__portrait {
        img {
            float:right;
        }
    }
    &__text {
        padding:50px 0px 0px 20px;
        vertical-align:top;
        h1 {
            margin-bottom:20px;
        }
    }
}
.projects {
    a {
        border-bottom:3px solid $red;
    }
    &__headline {
        text-align:center;
        margin-bottom:30px;
    }
    &__article {
        margin:0px auto 30px auto;
        &__text {
            display:inline-block;
            vertical-align:top;
            padding:0px 20px;
            &--right {
                text-align:right;
            }
            * {
                margin-bottom:20px;
            }
        }
        &__image {
            display:inline-block;
            padding:0px 30px;
            img {
                width:100%;
            }
        }
    }
}
.about {
    &__text, &__portrait {
        display:inline-block;
        vertical-align:top;
        text-align:right;
    }
    &__portrait {
        img {
            float:left;
            margin-left:30px;
        }
    }
}
.cv {
    &__list {
        display:inline-block;
        vertical-align:top;
        padding-right:20px;
        ul {
            list-style-type:none;
            li {
                padding-bottom:30px;
                p {
                    padding-bottom:5px;
                }
            }
        }
    }
}
.nomatch {
    text-align:center;
}
.footer {
    background:$lightblack;
    color:white;
    position:relative;
    &__list {
        display:inline-block;
        vertical-align:top;
    }
    ul {
        list-style-type: none;
        li {
            padding:10px 0px;
        }
    }
    &__logo {
        width:50px;
        position:absolute;
        right:50px;
        bottom:50px;
    }
}
@import "partials/media";