[class^=col] {
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.33%;
}

.col-8 {
  width: 66.66%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 24.99%;
}

.col-2 {
  width: 16.66%;
}

* {
  margin: 0;
  padding: 0;
}

p, li, a {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, button {
  font-family: "Josefin Sans", Arial, serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

.span__wrap {
  background: #E83A3A;
  position: relative;
  top: 5px;
  left: 20px;
}
.span__wrap__text {
  background: transparent;
  position: relative;
  top: -5px;
  left: -20px;
}

.btn {
  font-size: 18px;
  background: white;
  border: 3px solid black;
  cursor: pointer;
  vertical-align: top;
  position: relative;
}
.btn:active {
  top: 3px;
}
.btn a, .btn p {
  font-weight: 700;
  display: block;
  padding: 10px 20px 7px 20px;
  font-family: "Josefin Sans", Arial, serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.page__wrap {
  width: 1280px;
  margin: 0 auto;
}

.mainelement {
  padding: 50px 50px;
}

.root {
  z-index: 1;
}

.header {
  position: relative;
}
.header__logo {
  vertical-align: top;
  height: 50px;
}
.header__rightwrap {
  position: absolute;
  right: 50px;
  top: 50px;
}
.header__menu {
  margin-left: 20px;
  display: inline-block;
  list-style-type: none;
}
.header__menu li a {
  font-family: "Josefin Sans", Arial, serif;
}

.hero__portrait, .hero__text {
  display: inline-block;
}
.hero__portrait img {
  float: right;
}
.hero__text {
  padding: 50px 0px 0px 20px;
  vertical-align: top;
}
.hero__text h1 {
  margin-bottom: 20px;
}
.hero__text--top {
  padding-top: 0px;
  display: none;
}

.projects a {
  border-bottom: 3px solid #E83A3A;
  line-height: 1.5;
  font-weight: 700;
  vertical-align: top;
}
.projects__headline {
  text-align: center;
  margin-bottom: 30px;
}
.projects__article {
  margin: 0px auto 30px auto;
}
.projects__article__text {
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px;
}
.projects__article__text--right {
  text-align: right;
}
.projects__article__text--mobile {
  display: none;
}
.projects__article__text * {
  margin-bottom: 20px;
}
.projects__article__image {
  display: inline-block;
  padding: 0px 20px;
  transition: opacity 0.3s linear;
}
.projects__article__image img {
  width: 100%;
}
.projects__article__image:hover {
  opacity: 0.8;
}
.projects__article__icon {
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0px 10px 0px 0px;
  position: relative;
  bottom: 5px;
}

.about {
  margin-bottom: 200px;
}
.about__text, .about__portrait {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.about__portrait img {
  float: left;
  margin-left: 30px;
}
.about__icon {
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 5px;
}
.about h2 {
  display: inline-block;
}
.about h2, .about p {
  margin-bottom: 20px;
}

.cv__headline {
  margin-bottom: 20px;
}
.cv__list {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.cv__list ul {
  list-style-type: none;
}
.cv__list ul li {
  padding-bottom: 30px;
}
.cv__list ul li p {
  padding-bottom: 5px;
}

.contact h2 {
  padding: 0px 0px 20px 20px;
}
.contact input, .contact textarea {
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  padding: 10px;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 20px;
  border: 3px solid black;
  box-sizing: border-box;
}
.contact textarea {
  min-height: 300px;
}
.contact label p {
  font-family: "Josefin Sans", Arial, serif;
}
.contact__error {
  color: #E83A3A;
  font-weight: 700;
  position: absolute;
  margin-top: -30px;
}
.contact__response {
  margin-bottom: 100px;
}
.contact__response h2 {
  padding-left: 0px;
}

.nomatch {
  text-align: center;
}

.footer {
  background: #191919;
  color: white;
  position: relative;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__list {
  display: inline-block;
  vertical-align: top;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  padding: 10px 0px;
}
.footer__logo {
  width: 50px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

@media only screen and (max-width: 1280px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 24.99%;
  }

  .col-lg-2 {
    width: 16.66%;
  }
}
@media only screen and (max-width: 992px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 24.99%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 26px;
  }

  .projects__article__text * {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-3 {
    width: 24.99%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .mainelement {
    padding: 50px 25px;
  }

  p, li, a {
    font-size: 16px;
  }

  .span__wrap--tablet {
    background: #E83A3A !important;
  }

  .header__logo {
    height: 45px;
  }

  .hero {
    position: relative;
  }
  .hero__text {
    float: right;
    text-align: right;
  }
  .hero__text--top {
    display: block;
  }
  .hero__text--bottom {
    display: none;
  }

  .projects__article__icon {
    height: 30px;
    bottom: 0px;
  }

  .about__portrait img {
    margin-left: 0;
    margin-right: 50px;
    float: right;
  }
  .about__icon {
    display: none;
  }

  .footer a {
    text-decoration: underline;
  }
}
@media only screen and (max-width: 576px) {
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-3 {
    width: 24.99%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .header {
    padding-bottom: 0px;
  }

  .hero__text h2 {
    font-size: 28px;
  }

  .cv {
    text-align: center;
  }

  .projects__article__image img {
    padding: 30px 0px;
  }
  .projects__article__text--mobile {
    display: block;
  }
  .projects__article__text--right {
    display: none;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__text {
    text-align: left;
  }
}

/*# sourceMappingURL=index.css.map */
